<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEvent</servlet-name>
        <servlet-class>controller.events.addEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrder</servlet-name>
        <servlet-class>controller.orders.addOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTask</servlet-name>
        <servlet-class>controller.tasks.addTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>controller.users.createAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.users.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAccount</servlet-name>
        <servlet-class>controller.users.loginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEvent</servlet-name>
        <servlet-class>controller.events.deleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEvent</servlet-name>
        <servlet-class>controller.events.editEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>controller.orders.deleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOrder</servlet-name>
        <servlet-class>controller.orders.editOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTask</servlet-name>
        <servlet-class>controller.tasks.deleteTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTask</servlet-name>
        <servlet-class>controller.tasks.editTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccount</servlet-name>
        <servlet-class>controller.users.editAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTaskDC</servlet-name>
        <servlet-class>controller.dc.tasks.addTaskDC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTaskDC</servlet-name>
        <servlet-class>controller.dc.tasks.editTaskDC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTaskDC</servlet-name>
        <servlet-class>controller.dc.tasks.deleteTaskDC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOrderDC</servlet-name>
        <servlet-class>controller.dc.orders.editOrderDC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTaskStatus</servlet-name>
        <servlet-class>controller.logs.tasks.editTaskStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addEvent</servlet-name>
        <url-pattern>/addEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrder</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTask</servlet-name>
        <url-pattern>/addTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAccount</servlet-name>
        <url-pattern>/loginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEvent</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEvent</servlet-name>
        <url-pattern>/editEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOrder</servlet-name>
        <url-pattern>/editOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTask</servlet-name>
        <url-pattern>/deleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTask</servlet-name>
        <url-pattern>/editTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccount</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTaskDC</servlet-name>
        <url-pattern>/addTaskDC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTaskDC</servlet-name>
        <url-pattern>/editTaskDC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTaskDC</servlet-name>
        <url-pattern>/deleteTaskDC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOrderDC</servlet-name>
        <url-pattern>/editOrderDC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTaskStatus</servlet-name>
        <url-pattern>/editTaskStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
